<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css" > 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/e4e3009fda.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo" />
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
            <!--<p><label>Post code: <input name=pc> <small>Format: AB12 3CD</small></label></p>-->
            <!--CSS rules:      font-family: 'Roboto', sans-serif;-->
            <!--<label>Buscar <input name=fn> </label>-->
            <!-- Ready to use Font Awesome. Activate interlock. Dynotherms - connected. Infracells - up. Icons are go! -->
            <!--    <i class="fas fa-thumbs-up fa-5x"></i>  -->
        </div>

        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <img class="main-banner" src="/images/img-home-banner.jpg" alt="Banner" />
    </header>
    
    <!--formulario-->
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del Producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>     
        <div class="control-formulario">
            <label>Descripción</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta</label>
            <input type="radio" name="enOferta">
        </div>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Guardar</button>
    </form>

    <main class="main-main">
        
        <section>            
            <article>
                <p class="titulares"><b>Basado en tu última búsqueda</b></p>
                <article>                        
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$6.770</p>                        
                            <p class="desc">40% off</p>    
                        </article><p class="precios">$6.770</p>
                        <p class="desc"><b>Cafetera Moulinex</b></p>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$230.000</p>                        
                            <p class="desc">20% off</p>    
                        </article><p class="precios">$230.000</p>
                        <p class="desc"><b>MacBook Pro 2019</b></p>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$70.500</p>                        
                            <p class="desc">10% off</p>    
                        </article>
                        <p class="desc"><b>Samsung Galaxy S10</b></p>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$23.200</p>                        
                            <p class="desc">5% off</p>
                        </article>
                        <p class="desc"><b>SmartTv Samsung 43"</b></p>                            
                    </article>
            </article>
        </section>
        
        <section>            
            <article>
                <p class="titulares"><b>Ofertas</b></p>
                <article>                        
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$6.770</p>                        
                            <p class="desc">40% off</p>    
                        </article><p class="precios">$6.770</p>
                        <p class="desc"><b>Cafetera Moulinex</b></p>
                    </article>
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$230.000</p>                        
                            <p class="desc">20% off</p>    
                        </article><p class="precios">$230.000</p>
                        <p class="desc"><b>MacBook Pro 2019</b></p>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$70.500</p>                        
                            <p class="desc">10% off</p>    
                        </article>
                        <p class="desc"><b>Samsung Galaxy S10</b></p>                            
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="" class="imagenes-prods">
                        <p><i class="icon-truck fas fa-truck"></i></p>
                        <article>
                            <p class="precios">$23.200</p>                        
                            <p class="desc">5% off</p>
                        </article>
                        <p class="desc"><b>SmartTv Samsung 43"</b></p>                            
                    </article>
            </article>
        </section>

        
    </main>
    <footer>
            <br><br>
            <nav class="nav-footer">
                <ul type="none">
                    <li>
                        <p class="icon-footer"><i class="fas fa-credit-card"></i></p>
                        <p class="tit-footer">Pagá con tarjeta o en efectivo</p>
                        <p class="li-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </li>
                    <li>
                        <p class="icon-footer"><i class="fas fa-gift"></i></p>
                        <p class="tit-footer">Envío gratis desde $ 2.500</p>
                        <p class="li-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </li>
                    <li>
                        <p class="icon-footer"><i class="fas fa-user-shield"></i></p>
                        <p class="tit-footer">Seguridad, de principio a fin</p>
                        <p class="li-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </li>
                    <li>
                        <p class="li-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                    </li>
                </ul>
            </nav>
    </footer>
</body>
</html>

<!--     MAIN original viejo con espacios entre lineas, sin padding,... sin CSS en definitiva
    <main>
        <br><br>
        <section>
            <p class="titulares"><b>Basado en tu última visita</b><br></p>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <h3></h3>
                <p class="precios">$6.770<br><br></p>
                <p class="desc">40% off<br><br></p>
                <p class="desc"><b>Cafetera Moulinex</b><br></p>
                
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <h3></h3>
                <p>
                    $230.000<br><br>
                    20% off<br><br>
                    <b>MacBook Pro 2019</b><br>
                </p>
                
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <h3></h3>
                <p>
                    $70.500<br><br>
                    10% off<br><br>
                    <b>Samsung Galaxy S10</b><br>

            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <h3></h3>
                <p>
                    $23.200<br><br>
                    5% off<br><br>
                    <b>SmartTv Samsung 43"</b><br>
                </p>
            </article>

        </section>
        <section>

            <p class="titulares"><b>Ofertas</b><br></p>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <h3></h3>
                <p>
                    $6.770<br><br>
                    40% off<br><br>
                    <b>Cafetera Moulinex</b><br>
                </p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <h3></h3>
                <p>
                    $230.000<br><br>
                    20% off<br><br>
                    <b>MacBook Pro 2019</b><br>
                </p>

            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <h3></h3>
                <p>
                    $70.500<br><br>
                    10% off<br><br>
                    <b>Samsung Galaxy S10</b><br>

            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <h3></h3>
                <p>
                    $23.200<br><br>
                    5% off<br><br>
                    <b>SmartTv Samsung 43"</b><br>
                </p>
            </article>
        </section>
        
    </main>
    <footer>
        <br><br>
        <nav>
            <ul type="none">
                <li>
                    <b>Pagá con tarjeta o en efectivo</b><br><br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!<br><br>
                </li>
                <li>
                    <b>Envío gratis desde $ 2.500</b><br><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.<br><br>
                </li>
                <li>
                    <b>Seguridad, de principio a fin</b><br><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.<br><br>
                </li>
                <li>
                    Copyright © 1999-2020 MercadoLiebre S.R.L.<br><br>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>
-->
